@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Main body of website*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}
/*header styles*/
header {
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../assets/images/header1.pexels.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-contact {
    background-color: #116466;
}
/*Href link styles*/
a {
    display: flex;
    flex-direction: column;    
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
}
/*Nav bar styles*/
.nav {    
    list-style-type: none;
    font-weight: bold;
}

header nav {
    display: flex;
    flex-wrap: wrap;
}

nav li {
    display: inline-flex;
    margin-right: 2px;
    letter-spacing: 2px;
}
/*Main content styles*/
main {
    background-color: #d1e8e2;
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
    flex: 1 0 auto;
}

#main-h2 {
    padding: 10px;
    text-transform: uppercase;
}

#main-h3 {
    text-transform: capitalize;
    padding: auto;    
}

#main-h3:hover {
    transform: rotate(360deg);
    transition: 1s all ease;
}

#main-p {
    padding: 10px;
}

#main-p:hover {
    transform: rotate(360deg);
    transition: 1s all ease;   
}
/*Style for home page images*/
.images-home {
    padding-left: 30px;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#wedding:hover {
    background-color: #d1e8e2;
    cursor: pointer;
    transform: scale(1.10);
    transition: all 1s ease-in-out;
}
/*styles for hover properties*/
#funerals:hover {
    background-color: #d1e8e2;
    cursor: pointer;
    transform: scale(1.10);
    transition: all 1s ease-in-out;
}

#valentines:hover {
    background-color: #d1e8e2;
    cursor: pointer;
    transform: scale(1.10);
    transition: all 1s ease-in-out;
}

#mothers-day:hover {
    background-color: #d1e8e2;
    cursor: pointer;
    transform: scale(1.10);
    transition: all 1s ease-in-out;
}

img {
    height: 80vw;
    width: 80vw;
    margin-bottom: 10px;
    border-radius: 20%;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
}

h4 {
    margin-bottom: 7px;
}
/*styles for gallery page*/
#gallery-h2 {
    display: flex;
    justify-content: center;
    background-color: #b49162;
    text-transform: capitalize;
    padding: 5px;
}

.gallery-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
/*Styles for contact page*/
#contact-h2 {
    display: flex;
    justify-content: center;
}

.main-contact {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px;
}

#signup {
    background-color: #50c58a;
    background-position: 50%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#signup-form {
    padding-top: 100px;
}

#contact-h3 {
    color: #000000;
    margin: 10px;    
}

.text-input {
    color: #000000; 
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;   
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit {
    border-radius: 5px;
    padding: 15px 32px 10px;
    font-size: 100%;
    background-color: #ffffff;
    color: #000000;
    align-items: center;
}
/*Styles for social media links in footer*/
.social-media ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.social-media i {
    color: #ffffff;
}
/*Styles for footer*/
footer {
    background-color: #b49162;
    color: #000000;
    align-items: flex-end;
    padding: 20px;
    text-transform: capitalize;
    z-index: 100;
} 

.footer-contact {
    background-color: #116466;
}
    
/*@media for mobile screens*/
@media only screen and (min-width: 320px) {
    .images-home {
        padding-left: 36px;
    }

}
/*@media for Medium mobile screens*/
@media only screen and (min-width: 425px) {

       a {
        font-size: 1rem;
       }
}
/*@media for large mobile screens*/
@media only screen and (min-width: 460px) {
    
    .images-home {
        display: flex;
        flex-direction: column;
    }
}
/*@media for larger mobile screens*/
@media only screen and (max-width: 490px) {
    nav li {
        display: contents;
    }

    .gallery-images {
        justify-content: space-evenly;
    }
    
}
/*@media for tablet screens*/
@media only screen and (min-width: 773px) {

    a {
        color: #000000;
    }
}
    
@media only screen and (min-width: 768px) {

    header {
        background-color: #99795d;
        background-image: none;
    }

    main {
        background-image: url(../assets/images/background.1.pexels.jpeg);
    }

    h2, h3, h4, p, .text-input, label {
        font-size: x-large;
    }

    .images-home {
        display: flex;
        margin: 10px;
        justify-content: space-between;
    }

    #wedding:hover, #funerals:hover, #valentines:hover, #mothers-day:hover {
        background-color: #99795d;
        cursor: pointer;
        transform: scale(1.10);
        transition: all 1s ease-in-out;
        border-radius: 10%;
    }

    .gallery-images {
        padding-top: 30px;
        flex-direction: row;
        column-count: 2;
        justify-content: space-around;
    }

    a {
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    #signup {
        opacity: 0.7;
    }
}
/*@media for laptop screens*/
@media only screen and (min-width: 1024px) {

    main {
        background-image: none;
        background-color: #eec56c;
    }

    header {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .images-home {
        justify-content: space-evenly;
    }

    .gallery-images {
        max-width: 100%;
        height: auto;
        display: flex
    }
}
/*@media for desktop screens*/
@media only screen and (min-width: 1440px) {
   
    header {
        background-image: none;
        background-color: #fc9ec2;
    }

    main {
        background-color: #000000;
        color: #fc9ec2;
    }

    h2, h3, h4, p, .text-input, label {
        font-size: xx-large;
    }

    a {
        color: #ffffff;
    }

    .nav {
        min-width: 100px;
    }

    .images-home {
        margin: 10px;
        flex-direction: row;
        justify-content: space-evenly;
        column-count: 4;
    }

    #wedding:hover, #funerals:hover, #valentines:hover, #mothers-day:hover {
        background-color: #ffffff;
        cursor: pointer;
        transform: scale(1.10);
        transition: all 1s ease-in-out;
        border-radius: 10%;
        color: #000000;
    }

    #gallery-h2 {
        background-color: #ffb4d1;
    }

    .gallery-images {
        margin-top: 117px;
    }

    footer {
        padding: 30px;
        background-color: #ffb4d1;
    }

    #signup {
        color: #000000;
        padding-bottom: 1%;
    }



}
/*@media for large desktop screens*/
@media only screen and (min-width: 2560px) {
    
    .gallery-images {
        display: block;
        columns: 4;
        padding-left: 200px;
    }

    p {
        padding: 30px;
    }
}