/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*styles for body of html, this will be general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #7bdbb0;
    color: #0c0c0c;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    display: flex;
    flex-direction: column;
    color: #000000;
    font-size: 1.3rem;
    text-decoration: none;
}

.nav {    
    text-decoration: none;
    margin: 10px;
    list-style-type: none;
    font-size: 1.3rem;
}

main {
    background-color: #d1e8e2;
    color: #000000;
    /* flex 1 for grow-0 for shrink-auto for basis */
    flex: 1 0 auto;
    margin: 10px;
    margin-top: 120px;
    margin-bottom: 0px;
    padding: 10px;
   /* background-image: url(/assets/images/flower\ shop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-transform: capitalize;
}

.images {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

img {
    width: 50%;
    height: 50%;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    align-content: center;
}

.social-media {
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
}

footer {
    background-color: #ffcb9a;
    color: #000000;
    align-items: flex-end;
    padding: 20px;
    text-transform: capitalize;
    z-index: 100;
} 

@media only screen and (min-width: 407px) {
    main {
        margin-top: 80px;
    }

    li {
        display: inline-block;
    }

    .images {
        margin-left: 120px;
        margin-top: 20px;
    }

}

@media only screen (min-width: 565px) {
    header {
        max-width: 90%;
    }

    .images {
        margin-left: 50%;
        margin-top: 40px;
    }
}
    
